@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Itim&family=Mogra&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RonneySans";
  src: url("/public//fonts/ronney.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* For Webkit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #ff000050; /* color of the thumb */
    border-radius: 6px; /* rounded corners of the thumb */
}

*::-webkit-scrollbar-track {
    background-color: transparent; /* color of the track */
}


